# 1. Landstemp Dataset from Data cleaning cookbook

In [4]:
import pandas as pd
landstemp = pd.read_csv('landtempssample.csv', 
                        names= ['stationid', 'year', 'month', 'avgtemp', 'latitutde', 'longitude',
                                'elevation', 'station', 'countryid', 'country'],
skiprows = 1,
low_memory = False)

landstemp['date'] = pd.to_datetime(landstemp['year'].astype(str)+ '-' + landstemp['month'].astype(str))

In [5]:
landstemp.head(7)

,stationid,year,month,avgtemp,latitutde,longitude,elevation,station,countryid,country,date
0,USS0010K01S,2000,4,5.27,39.9000,-110.7500,2773.7,INDIAN_CANYON,US,United States,2000-04-01
1,CI000085406,1940,5,18.04,-18.3500,-70.3330,58.0,ARICA,CI,Chile,1940-05-01
2,USC00036376,2013,12,6.22,34.3703,-91.1242,61.0,SAINT_CHARLES,US,United States,2013-12-01
3,ASN00024002,1963,2,22.93,-34.2833,140.6000,65.5,BERRI_IRRIGATION,AS,Australia,1963-02-01
4,ASN00028007,2001,11,NaN,-14.7803,143.5036,79.4,MUSGRAVE,AS,Australia,2001-11-01
5,USW00024151,1991,4,5.59,42.1492,-112.2872,1362.5,MALAD_CITY,US,United States,1991-04-01
6,RSM00022641,1993,12,-10.17,63.9000,38.1167,13.0,ONEGA,RS,Russia,1993-12-01

In [6]:
landstemp.dtypes

stationid            object
year                  int64
month                 int64
avgtemp             float64
latitutde           float64
longitude           float64
elevation           float64
station              object
countryid            object
country              object
date         datetime64[ns]
dtype: object

In [7]:
landstemp.shape

(100000, 11)

In [8]:
landstemp.isnull().sum()

stationid        0
year             0
month            0
avgtemp      14446
latitutde        0
longitude        0
elevation        0
station          0
countryid        0
country          5
date             0
dtype: int64

In [9]:
landstemp.dropna(subset=['avgtemp'], inplace=True)
landstemp.shape

(85554, 11)