In [15]:
# Run this in a Jupyter notebook in VS Code
import urllib.request
import os

# Download the Chinook database if it doesn't exist
if not os.path.exists('chinook.db'):
    print("Downloading Chinook database...")
    url = "https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite"
    urllib.request.urlretrieve(url, "chinook.db")
    print("Download complete!")
else:
    print("Chinook database already exists")

Chinook database already exists

In [16]:
# Connecting to the database
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd

# Connect to the database
engine = create_engine('sqlite:///chinook.db')

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to the Chinook database!")
except Exception as e:
    print(f"Error connecting to the database: {e}")

Successfully connected to the Chinook database!

In [17]:
# Get list of tables
query = "SELECT name FROM sqlite_master WHERE type='table'"
tables = pd.read_sql(query, engine)
print("Tables in the Chinook database:")
print(tables)

Tables in the Chinook database:
             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

In [18]:
# Loop through each table and display its structure
for table_name in tables['name']:
    query = f"PRAGMA table_info({table_name})"
    columns = pd.read_sql(query, engine)
    print(f"\nColumn in {table_name}:")
    print(columns[['name', 'type']])

Column in Album:
       name           type
0   AlbumId        INTEGER
1     Title  NVARCHAR(160)
2  ArtistId        INTEGER

Column in Artist:
       name           type
0  ArtistId        INTEGER
1      Name  NVARCHAR(120)

Column in Customer:
            name          type
0     CustomerId       INTEGER
1      FirstName  NVARCHAR(40)
2       LastName  NVARCHAR(20)
3        Company  NVARCHAR(80)
4        Address  NVARCHAR(70)
5           City  NVARCHAR(40)
6          State  NVARCHAR(40)
7        Country  NVARCHAR(40)
8     PostalCode  NVARCHAR(10)
9          Phone  NVARCHAR(24)
10           Fax  NVARCHAR(24)
11         Email  NVARCHAR(60)
12  SupportRepId       INTEGER

Column in Employee:
          name          type
0   EmployeeId       INTEGER
1     LastName  NVARCHAR(20)
2    FirstName  NVARCHAR(20)
3        Title  NVARCHAR(30)
4    ReportsTo       INTEGER
5    BirthDate      DATETIME
6     HireDate      DATETIME
7      Address  NVARCHAR(70)
8         City  NVARCHAR(40)
9        State  NVARCHAR(40)
10     Country  NVARCHAR(40)
11  PostalCode  NVARCHAR(10)
12       Phone  NVARCHAR(24)
13         Fax  NVARCHAR(24)
14       Email  NVARCHAR(60)

Column in Genre:
      name           type
0  GenreId        INTEGER
1     Name  NVARCHAR(120)

Column in Invoice:
                name           type
0          InvoiceId        INTEGER
1         CustomerId        INTEGER
2        InvoiceDate       DATETIME
3     BillingAddress   NVARCHAR(70)
4        BillingCity   NVARCHAR(40)
5       BillingState   NVARCHAR(40)
6     BillingCountry   NVARCHAR(40)
7  BillingPostalCode   NVARCHAR(10)
8              Total  NUMERIC(10,2)

Column in InvoiceLine:
            name           type
0  InvoiceLineId        INTEGER
1      InvoiceId        INTEGER
2        TrackId        INTEGER
3      UnitPrice  NUMERIC(10,2)
4       Quantity        INTEGER

Column in MediaType:
          name           type
0  MediaTypeId        INTEGER
1         Name  NVARCHAR(120)

Column in Playlist:
         name           type
0  PlaylistId        INTEGER
1        Name  NVARCHAR(120)

Column in PlaylistTrack:
         name     type
0  PlaylistId  INTEGER
1     TrackId  INTEGER

Column in Track:
           name           type
0       TrackId        INTEGER
1          Name  NVARCHAR(200)
2       AlbumId        INTEGER
3   MediaTypeId        INTEGER
4       GenreId        INTEGER
5      Composer  NVARCHAR(220)
6  Milliseconds        INTEGER
7         Bytes        INTEGER
8     UnitPrice  NUMERIC(10,2)

## Step 3: Basic Queries - Simple Data Extraction
Now that we understand the database structure, let's learn how to extract data with basic SQL queries. We'll go line by line through each query and explain what's happening.
## Query 1: Getting Tracks with their Album Titles

In [25]:
# QUERY 1: A simple query to get all albums

query = "SELECT * FROM album LIMIT 5"
result = pd.read_sql(query, engine)
print("albums:")
print(result)

albums:
   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [26]:
# Query 2: Select specific columns

query = "SELECT AlbumId, Title FROM album LIMIT 5"
result = pd.read_sql(query, engine)
print("Albums with just ID and Title:")
print(result)

Albums with just ID and Title:
   AlbumId                                  Title
0        1  For Those About To Rock We Salute You
1        2                      Balls to the Wall
2        3                      Restless and Wild
3        4                      Let There Be Rock
4        5                               Big Ones

In [27]:
# Query 3: Using Column Aliases

query = "SELECT AlbumId as ID, Title as AlbumName FROM album LIMIT 5"
result = pd.read_sql(query, engine)
print("Albums with renamed columns:")
print(result)

Albums with renamed columns:
   ID                              AlbumName
0   1  For Those About To Rock We Salute You
1   2                      Balls to the Wall
2   3                      Restless and Wild
3   4                      Let There Be Rock
4   5                               Big Ones

In [ ]:
# ADDING A WHERE CLAUSE FOR FILTERING
# Query 4: Filtering with WHERE
query = "SELECT AlbumId, Title FROM album WHERE AlbumId < 10"
result = pd.read_sql(query, engine)
print("Albums with AlbumId less than 10:")
print(result)

Albums with AlbumId less than 10:
   AlbumId                                  Title
0        1  For Those About To Rock We Salute You
1        2                      Balls to the Wall
2        3                      Restless and Wild
3        4                      Let There Be Rock
4        5                               Big Ones
5        6                     Jagged Little Pill
6        7                               Facelift
7        8                         Warner 25 Anos
8        9         Plays Metallica By Four Cellos

In [29]:
# USING TEXT in WHERE CLAUSE
# Query 5: Filtering text columns
query = "SELECT AlbumId, Title FROM album WHERE Title = 'Big Ones' "
result = pd.read_sql(query, engine)
print("Albums with Title 'Big Ones':")
print(result)

Albums with Title 'Big Ones':
   AlbumId     Title
0        5  Big Ones

In [30]:
# Query 6: Pattern matching with LIKE
query = "SELECT AlbumId, Title FROM album WHERE Title LIKE '%Rock%'"
result = pd.read_sql(query, engine)
print("Albums with 'Rock' in the title:")
print(result)

Albums with 'Rock' in the title:
   AlbumId                                              Title
0        1              For Those About To Rock We Salute You
1        4                                  Let There Be Rock
2       59                                Deep Purple In Rock
3      108                                  Rock In Rio [CD1]
4      109                                  Rock In Rio [CD2]
5      213  Pure Cult: The Best Of The Cult (For Rockers, ...
6      216                      Hot Rocks, 1964-1971 (Disc 1)

In [31]:
# USING ORDER BY
# Query 7: Sorting result using ORDER BY
query = "SELECT AlbumId, Title FROM Album ORDER BY Title LIMIT 10"
result = pd.read_sql(query, engine)
print("Albums ordered alphabetically by title:")
print(result)

Albums ordered alphabetically by title:
   AlbumId                                              Title
0      156                             ...And Justice For All
1      257  20th Century Masters - The Millennium Collecti...
2      296                      A Copland Celebration, Vol. I
3       94                         A Matter of Life and Death
4       95                                    A Real Dead One
5       96                                    A Real Live One
6      285                                 A Soprano Inspired
7      139         A TempestadeTempestade Ou O Livro Dos Dias
8      203                                            A-Sides
9      160                                      Ace Of Spades

In [33]:
# Query 8: Sorting Descending order (Ascending is default)
query = "SELECT AlbumId, Title FROM album ORDER BY AlbumId DESC LIMIT 10"
result = pd.read_sql(query, engine)
print("Albums ordered in Descending order on AlbumID:")
print(result)

Albums ordered in Descending order on AlbumID:
   AlbumId                                              Title
0      347  Koyaanisqatsi (Soundtrack from the Motion Pict...
1      346                              Mozart: Chamber Music
2      345                                Monteverdi: L'Orfeo
3      344  Schubert: The Late String Quartets & String Qu...
4      343                             Respighi:Pines of Rome
5      342  Locatelli: Concertos for Violin, Strings and C...
6      341  Great Recordings of the Century - Shubert: Sch...
7      340        Liszt - 12 Études D'Execution Transcendante
8      339  Great Recordings of the Century: Paganini's 24...
9      338                        Nielsen: The Six Symphonies

In [ ]:
# COMBINING WHERE AND ORDER BY
# Query 9: using both WHERE and ORDER BY
query = """
SELECT AlbumId, Title
FROM Album
WHERE AlbumId > 100
ORDER BY Title
LIMIT 20
"""

result = pd.read_sql(query, engine)
print("Filtered and ordered albums:")
print(result)

Filtered and ordered albums:
    AlbumId                                              Title
0       156                             ...And Justice For All
1       257  20th Century Masters - The Millennium Collecti...
2       296                      A Copland Celebration, Vol. I
3       285                                 A Soprano Inspired
4       139         A TempestadeTempestade Ou O Livro Dos Dias
5       203                                            A-Sides
6       160                                      Ace Of Spades
7       232                                       Achtung Baby
8       224                                           Acústico
9       167                                       Acústico MTV
10      307                   Adams, John: The Chairman Dances
11      272  Adorate Deum: Gregorian Chant from the Proper ...
12      233                    All That You Can't Leave Behind
13      273                                  Allegri: Miserere
14      248                                   Ao Vivo [IMPORT]
15      254                                            Aquaman
16      120                               Are You Experienced?
17      319  Armada: Music from the Courts of England and S...
18      168                                         Arquivo II
19      169                    Arquivo Os Paralamas Do Sucesso

## Understanding SQL JOINs
JOINs are one of the most powerful features in SQL. They allow you to combine data from multiple tables based on related columns. This is essential for working with relational databases, where information is spread across different tables.
### Basic JOIN Syntax
Let's start with a simple JOIN between the albums and artists tables:

In [ ]:
# Query 10: JOINS
query = """
SELECT album.Title as AlbumTitle, artist.Name AS ArtistName
FROM album
JOIN artist ON album.ArtistId = artist.ArtistId
LIMIT 20
"""
result = pd.read_sql(query, engine)
print("Albums witht their artists:")
print(result)

Albums witht their artists:
                                          AlbumTitle            ArtistName
0              For Those About To Rock We Salute You                 AC/DC
1                                  Balls to the Wall                Accept
2                                  Restless and Wild                Accept
3                                  Let There Be Rock                 AC/DC
4                                           Big Ones             Aerosmith
5                                 Jagged Little Pill     Alanis Morissette
6                                           Facelift       Alice In Chains
7                                     Warner 25 Anos  Antônio Carlos Jobim
8                     Plays Metallica By Four Cellos          Apocalyptica
9                                         Audioslave            Audioslave
10                                      Out Of Exile            Audioslave
11                               BackBeat Soundtrack              BackBeat
12                          The Best Of Billy Cobham          Billy Cobham
13          Alcohol Fueled Brewtality Live! [Disc 1]   Black Label Society
14          Alcohol Fueled Brewtality Live! [Disc 2]   Black Label Society
15                                     Black Sabbath         Black Sabbath
16                   Black Sabbath Vol. 4 (Remaster)         Black Sabbath
17                                        Body Count            Body Count
18                                  Chemical Wedding       Bruce Dickinson
19  The Best Of Buddy Guy - The Millenium Collection             Buddy Guy

In [40]:
# Query 11: Using JOINS as TABLE Aliases
query = """
SELECT a.Title AS AlbumTitle, ar.Name AS ArtistName
FROM album a
JOIN artist ar ON a.ArtistId = ar.ArtistId
LIMIT 20
"""
result = pd.read_sql(query, engine)
print("Albums with their artists name (using aliases)")
print(result)

Albums with their artists name (using aliases)
                                          AlbumTitle            ArtistName
0              For Those About To Rock We Salute You                 AC/DC
1                                  Balls to the Wall                Accept
2                                  Restless and Wild                Accept
3                                  Let There Be Rock                 AC/DC
4                                           Big Ones             Aerosmith
5                                 Jagged Little Pill     Alanis Morissette
6                                           Facelift       Alice In Chains
7                                     Warner 25 Anos  Antônio Carlos Jobim
8                     Plays Metallica By Four Cellos          Apocalyptica
9                                         Audioslave            Audioslave
10                                      Out Of Exile            Audioslave
11                               BackBeat Soundtrack              BackBeat
12                          The Best Of Billy Cobham          Billy Cobham
13          Alcohol Fueled Brewtality Live! [Disc 1]   Black Label Society
14          Alcohol Fueled Brewtality Live! [Disc 2]   Black Label Society
15                                     Black Sabbath         Black Sabbath
16                   Black Sabbath Vol. 4 (Remaster)         Black Sabbath
17                                        Body Count            Body Count
18                                  Chemical Wedding       Bruce Dickinson
19  The Best Of Buddy Guy - The Millenium Collection             Buddy Guy

### Types of JOINs
### There are several types of JOINs in SQL. Let's look at the most common ones:

In [41]:
# INNER JOIN (or just JOIN-default)
# The default JOIN is an INNER JOIN, which only returns rows where there
# is a match in both tables:
#Query 11: INNER JOIN example (explicitly stated)
query = """
SELECT a.Title AS AlbumTitle, ar.Name AS ArtistName
FROM album a
INNER JOIN artist ar ON a.ArtistId = ar.ArtistId
LIMIT 20
"""
result = pd.read_sql(query, engine)
print("Inner Join Example:")
print(result)

Inner Join Example:
                                          AlbumTitle            ArtistName
0              For Those About To Rock We Salute You                 AC/DC
1                                  Balls to the Wall                Accept
2                                  Restless and Wild                Accept
3                                  Let There Be Rock                 AC/DC
4                                           Big Ones             Aerosmith
5                                 Jagged Little Pill     Alanis Morissette
6                                           Facelift       Alice In Chains
7                                     Warner 25 Anos  Antônio Carlos Jobim
8                     Plays Metallica By Four Cellos          Apocalyptica
9                                         Audioslave            Audioslave
10                                      Out Of Exile            Audioslave
11                               BackBeat Soundtrack              BackBeat
12                          The Best Of Billy Cobham          Billy Cobham
13          Alcohol Fueled Brewtality Live! [Disc 1]   Black Label Society
14          Alcohol Fueled Brewtality Live! [Disc 2]   Black Label Society
15                                     Black Sabbath         Black Sabbath
16                   Black Sabbath Vol. 4 (Remaster)         Black Sabbath
17                                        Body Count            Body Count
18                                  Chemical Wedding       Bruce Dickinson
19  The Best Of Buddy Guy - The Millenium Collection             Buddy Guy

In [42]:
# LEFT JOIN
# A LEFT JOIN returns all rows from the left table and matching rows
# from the Right table. If there's no match, NULL values appear for
# the right table
# Query 12: LEFT JOIN EXAMPLE
query = """
SELECT ar.Name AS ArtistName, a.Title AS AlbumTitle
FROM artist ar
LEFT JOIN album a ON ar.ArtistId = a.ArtistId
ORDER BY a.Title
LIMIT 20
"""
result = pd.read_sql(query, engine)
print("LEFT JOIN EXAMPLE")
print(result)

LEFT JOIN EXAMPLE
                                           ArtistName AlbumTitle
0                          Milton Nascimento & Bebeto       None
1                                             Azymuth       None
2                                       João Gilberto       None
3                                      Bebel Gilberto       None
4                                       Jorge Vercilo       None
5                                       Baby Consuelo       None
6                                      Ney Matogrosso       None
7                                        Luiz Melodia       None
8                                          Nando Reis       None
9                               Pedro Luís & A Parede       None
10                                    Banda Black Rio       None
11                                     Fernanda Porto       None
12                                        Os Cariocas       None
13                                       A Cor Do Som       None
14                                         Kid Abelha       None
15                                       Sandra De Sá       None
16                                    Hermeto Pascoal       None
17                                     Barão Vermelho       None
18  Edson, DJ Marky & DJ Patife Featuring Fernanda...       None
19                        Santana Feat. Dave Matthews       None

In [ ]:
# MULTIPLE JOINS
# Query 13: Multiple joins
query = """
SELECT t.Name AS TrackName, a.Title AS AlbumTitle, ar.Name AS ArtistName
From track t
JOIN album a ON t.AlbumId = a.AlbumId
JOIN artist ar ON a.ArtistId = ar.ArtistId
LIMIT 25
"""
result = pd.read_sql(query, engine)
print("Tracks with ALBUMS and ARTISTS:")
print(result)

Tracks with ALBUMS and ARTISTS:
                                  TrackName  \
0   For Those About To Rock (We Salute You)
1                         Balls to the Wall
2                           Fast As a Shark
3                         Restless and Wild
4                      Princess of the Dawn
5                     Put The Finger On You
6                           Let's Get It Up
7                          Inject The Venom
8                                Snowballed
9                                Evil Walks
10                                   C.O.D.
11                       Breaking The Rules
12                 Night Of The Long Knives
13                               Spellbound
14                                  Go Down
15                              Dog Eat Dog
16                        Let There Be Rock
17                           Bad Boy Boogie
18                            Problem Child
19                                 Overdose
20             Hell Ain't A Bad Place To Be
21                        Whole Lotta Rosie
22                            Walk On Water
23                      Love In An Elevator
24                                 Rag Doll

                               AlbumTitle ArtistName
0   For Those About To Rock We Salute You      AC/DC
1                       Balls to the Wall     Accept
2                       Restless and Wild     Accept
3                       Restless and Wild     Accept
4                       Restless and Wild     Accept
5   For Those About To Rock We Salute You      AC/DC
6   For Those About To Rock We Salute You      AC/DC
7   For Those About To Rock We Salute You      AC/DC
8   For Those About To Rock We Salute You      AC/DC
9   For Those About To Rock We Salute You      AC/DC
10  For Those About To Rock We Salute You      AC/DC
11  For Those About To Rock We Salute You      AC/DC
12  For Those About To Rock We Salute You      AC/DC
13  For Those About To Rock We Salute You      AC/DC
14                      Let There Be Rock      AC/DC
15                      Let There Be Rock      AC/DC
16                      Let There Be Rock      AC/DC
17                      Let There Be Rock      AC/DC
18                      Let There Be Rock      AC/DC
19                      Let There Be Rock      AC/DC
20                      Let There Be Rock      AC/DC
21                      Let There Be Rock      AC/DC
22                               Big Ones  Aerosmith
23                               Big Ones  Aerosmith
24                               Big Ones  Aerosmith

In [45]:
# JOINS with WHERE clause
# Query 14: JOINS with WHERE
query = """
SELECT t.Name AS TrackName, a.Title AS AlbumTitle, ar.Name AS ArtistName
From track t
JOIN album a ON t.AlbumId = a.AlbumId
JOIN artist ar ON a.ArtistId = ar.ArtistId
WHERE ar.Name = 'Queen' 
"""
result = pd.read_sql(query,engine)
print("Queen's Tracks:")
print(result)

Queen's Tracks:
                         TrackName         AlbumTitle ArtistName
0                  A Kind Of Magic   Greatest Hits II      Queen
1                   Under Pressure   Greatest Hits II      Queen
2                      Radio GA GA   Greatest Hits II      Queen
3                    I Want It All   Greatest Hits II      Queen
4             I Want To Break Free   Greatest Hits II      Queen
5                         Innuendo   Greatest Hits II      Queen
6                 It's A Hard Life   Greatest Hits II      Queen
7                        Breakthru   Greatest Hits II      Queen
8        Who Wants To Live Forever   Greatest Hits II      Queen
9                         Headlong   Greatest Hits II      Queen
10                     The Miracle   Greatest Hits II      Queen
11          I'm Going Slightly Mad   Greatest Hits II      Queen
12               The Invisible Man   Greatest Hits II      Queen
13                  Hammer To Fall   Greatest Hits II      Queen
14         Friends Will Be Friends   Greatest Hits II      Queen
15             The Show Must Go On   Greatest Hits II      Queen
16                      One Vision   Greatest Hits II      Queen
17               Bohemian Rhapsody    Greatest Hits I      Queen
18      Another One Bites The Dust    Greatest Hits I      Queen
19                    Killer Queen    Greatest Hits I      Queen
20              Fat Bottomed Girls    Greatest Hits I      Queen
21                    Bicycle Race    Greatest Hits I      Queen
22           You're My Best Friend    Greatest Hits I      Queen
23               Don't Stop Me Now    Greatest Hits I      Queen
24                         Save Me    Greatest Hits I      Queen
25  Crazy Little Thing Called Love    Greatest Hits I      Queen
26                Somebody To Love    Greatest Hits I      Queen
27                    Now I'm Here    Greatest Hits I      Queen
28    Good Old-Fashioned Lover Boy    Greatest Hits I      Queen
29                   Play The Game    Greatest Hits I      Queen
30                           Flash    Greatest Hits I      Queen
31              Seven Seas Of Rhye    Greatest Hits I      Queen
32                We Will Rock You    Greatest Hits I      Queen
33            We Are The Champions    Greatest Hits I      Queen
34                We Will Rock You  News Of The World      Queen
35            We Are The Champions  News Of The World      Queen
36              Sheer Heart Attack  News Of The World      Queen
37              All Dead, All Dead  News Of The World      Queen
38               Spread Your Wings  News Of The World      Queen
39           Fight From The Inside  News Of The World      Queen
40             Get Down, Make Love  News Of The World      Queen
41           Sleep On The Sidewalk  News Of The World      Queen
42                   Who Needs You  News Of The World      Queen
43                       It's Late  News Of The World      Queen
44             My Melancholy Blues  News Of The World      Queen

### Practice Excercise

In [49]:
# Query 15: US customers with > $5 invoice
query = """
SELECT c.FirstName, c.LastName, i.InvoiceDate, i.Total
FROM customer c
JOIN invoice i ON c.CustomerId = i.CustomerId
WHERE c.Country = 'USA' AND i.Total > 5.00
ORDER BY i.Total DESC
LIMIT 25
"""
result = pd.read_sql(query, engine)
print("US Customers with invoice over $5:")
print(result)

US Customers with invoice over $5:
   FirstName    LastName          InvoiceDate  Total
0    Richard  Cunningham  2012-08-05 00:00:00  23.86
1     Victor     Stevens  2011-05-29 00:00:00  18.86
2      Frank     Ralston  2010-03-21 00:00:00  15.86
3      Frank      Harris  2010-09-23 00:00:00  13.86
4       Jack       Smith  2011-12-01 00:00:00  13.86
5   Michelle      Brooks  2013-02-07 00:00:00  13.86
6        Tim       Goyer  2009-04-14 00:00:00  13.86
7        Dan      Miller  2010-06-22 00:00:00  13.86
8      Kathy       Chase  2011-08-30 00:00:00  13.86
9    Heather     Leacock  2012-11-06 00:00:00  13.86
10      John      Gordon  2009-01-11 00:00:00  13.86
11   Patrick        Gray  2013-10-13 00:00:00  13.86
12     Julia     Barnett  2009-12-18 00:00:00  13.86
13     Julia     Barnett  2012-09-28 00:00:00  11.94
14      Jack       Smith  2012-07-31 00:00:00  10.91
15     Frank      Harris  2011-05-24 00:00:00   8.91
16  Michelle      Brooks  2013-10-08 00:00:00   8.91
17       Tim       Goyer  2009-12-13 00:00:00   8.91
18       Dan      Miller  2011-02-20 00:00:00   8.91
19     Kathy       Chase  2012-04-29 00:00:00   8.91
20   Heather     Leacock  2013-07-07 00:00:00   8.91
21      John      Gordon  2009-09-11 00:00:00   8.91
22     Frank     Ralston  2010-11-19 00:00:00   8.91
23    Victor     Stevens  2012-01-27 00:00:00   8.91
24   Richard  Cunningham  2013-04-05 00:00:00   8.91

## Aggregation and Grouping in SQL
### Aggregation functions let you perform calculations across rows, and the GROUP BY clause lets you organize data into groups for analysis.

In [ ]:
# Query 16: Basic Aggregation
query = """
SELECT COUNT(*) AS TotalTracks,
        MIN(UnitPrice) AS MinPrice,
        MAX(UnitPrice) AS MaxPrice,
        AVG(UnitPrice) AS AvgPrice,
        SUM(UnitPrice) AS TotalPrice
FROM track
"""
result = pd.read_sql(query, engine)
print("Track Stats:")
print(result)

Track Stats:
   TotalTracks  MinPrice  MaxPrice  AvgPrice  TotalPrice
0         3503      0.99      1.99  1.050805     3680.97

In [ ]:
# Query 17: Using GROUP BY

query = """
SELECT MediaTypeId,
        COUNT(*) AS TrackCount,
        AVG(UnitPrice) AS AvgPrice
FROM track
GROUP BY MediaTypeId
"""
result = pd.read_sql(query, engine)
print("Stats by media type:")
print(result)

Stats by media type:
   MediaTypeId  TrackCount  AvgPrice
0            1        3034  0.990000
1            2         237  0.990000
2            3         214  1.985327
3            4           7  0.990000
4            5          11  0.990000

### Adding cotext with JOINS and GROUP BY

In [54]:
# Query 18: GROUP BY with JOIN
query = """
SELECT mt.Name AS MediaType,
        COUNT(*) AS TrackCount,
        AVG(t.UnitPrice) AS AvgPrice
FROM track t
JOIN mediatype mt ON t.MediaTypeId = mt.MediaTypeId
GROUP BY mt.Name
ORDER BY TrackCount DESC
"""
result = pd.read_sql(query, engine)
print("Stats by media type with names:")
print(result)

Stats by media type with names:
                     MediaType  TrackCount  AvgPrice
0              MPEG audio file        3034  0.990000
1     Protected AAC audio file         237  0.990000
2  Protected MPEG-4 video file         214  1.985327
3               AAC audio file          11  0.990000
4     Purchased AAC audio file           7  0.990000