In [4]:
# Run this in a Jupyter notebook in VS Code
import urllib.request
import os

# Download the Chinook database if it doesn't exist
if not os.path.exists('chinook.db'):
    print("Downloading Chinook database...")
    url = "https://github.com/lerocha/chinook-database/raw/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite"
    urllib.request.urlretrieve(url, "chinook.db")
    print("Download complete!")
else:
    print("Chinook database already exists")

Downloading Chinook database...
Download complete!

In [5]:
# Connecting to the database
import sqlalchemy as sa
from sqlalchemy import create_engine
import pandas as pd

# Connect to the database
engine = create_engine('sqlite:///chinook.db')

# Test connection
try:
    with engine.connect() as connection:
        print("Successfully connected to the Chinook database!")
except Exception as e:
    print(f"Error connecting to the database: {e}")

Successfully connected to the Chinook database!

In [6]:
# Get list of tables
query = "SELECT name FROM sqlite_master WHERE type='table'"
tables = pd.read_sql(query, engine)
print("Tables in the Chinook database:")
print(tables)

Tables in the Chinook database:
             name
0           Album
1          Artist
2        Customer
3        Employee
4           Genre
5         Invoice
6     InvoiceLine
7       MediaType
8        Playlist
9   PlaylistTrack
10          Track

In [11]:
# Loop through each table and display its structure
for table_name in tables['name']:
    query = f"PRAGMA table_info({table_name})"
    columns = pd.read_sql(query, engine)
    print(f"\nColumn in {table_name}:")
    print(columns[['name', 'type']])

Column in Album:
       name           type
0   AlbumId        INTEGER
1     Title  NVARCHAR(160)
2  ArtistId        INTEGER

Column in Artist:
       name           type
0  ArtistId        INTEGER
1      Name  NVARCHAR(120)

Column in Customer:
            name          type
0     CustomerId       INTEGER
1      FirstName  NVARCHAR(40)
2       LastName  NVARCHAR(20)
3        Company  NVARCHAR(80)
4        Address  NVARCHAR(70)
5           City  NVARCHAR(40)
6          State  NVARCHAR(40)
7        Country  NVARCHAR(40)
8     PostalCode  NVARCHAR(10)
9          Phone  NVARCHAR(24)
10           Fax  NVARCHAR(24)
11         Email  NVARCHAR(60)
12  SupportRepId       INTEGER

Column in Employee:
          name          type
0   EmployeeId       INTEGER
1     LastName  NVARCHAR(20)
2    FirstName  NVARCHAR(20)
3        Title  NVARCHAR(30)
4    ReportsTo       INTEGER
5    BirthDate      DATETIME
6     HireDate      DATETIME
7      Address  NVARCHAR(70)
8         City  NVARCHAR(40)
9        State  NVARCHAR(40)
10     Country  NVARCHAR(40)
11  PostalCode  NVARCHAR(10)
12       Phone  NVARCHAR(24)
13         Fax  NVARCHAR(24)
14       Email  NVARCHAR(60)

Column in Genre:
      name           type
0  GenreId        INTEGER
1     Name  NVARCHAR(120)

Column in Invoice:
                name           type
0          InvoiceId        INTEGER
1         CustomerId        INTEGER
2        InvoiceDate       DATETIME
3     BillingAddress   NVARCHAR(70)
4        BillingCity   NVARCHAR(40)
5       BillingState   NVARCHAR(40)
6     BillingCountry   NVARCHAR(40)
7  BillingPostalCode   NVARCHAR(10)
8              Total  NUMERIC(10,2)

Column in InvoiceLine:
            name           type
0  InvoiceLineId        INTEGER
1      InvoiceId        INTEGER
2        TrackId        INTEGER
3      UnitPrice  NUMERIC(10,2)
4       Quantity        INTEGER

Column in MediaType:
          name           type
0  MediaTypeId        INTEGER
1         Name  NVARCHAR(120)

Column in Playlist:
         name           type
0  PlaylistId        INTEGER
1        Name  NVARCHAR(120)

Column in PlaylistTrack:
         name     type
0  PlaylistId  INTEGER
1     TrackId  INTEGER

Column in Track:
           name           type
0       TrackId        INTEGER
1          Name  NVARCHAR(200)
2       AlbumId        INTEGER
3   MediaTypeId        INTEGER
4       GenreId        INTEGER
5      Composer  NVARCHAR(220)
6  Milliseconds        INTEGER
7         Bytes        INTEGER
8     UnitPrice  NUMERIC(10,2)